<template>
  <div class="app-option">
    <el-form ref="options-form" label-width="80px" size="mini">
      <h2>【{{ option.title }}】</h2>
      <el-form-item class="small" label="组件编号：">
        <span>{{ option.domId }}</span>
      </el-form-item>
      <el-form-item class="small" label="组件名称：">
        <el-input v-model="option.domName" maxlength="30" placeholder="非必填，页内跳转配置使用" />
      </el-form-item>

      <template v-if="option.base && option.base.length">
        <template v-for="(item, idx) in option.base">
          <form-item :key="'base-'+idx" :item="item" :index="idx" />
        </template>
      </template>

      <template v-if="option.style && option.style.length">
        <h3>
          <i class="el-icon-setting" /> 样式配置
        </h3>
        <template v-for="(item, idx) in option.style">
          <form-item :key="'style-'+idx" :item="item" :index="idx" />
        </template>
      </template>

      <template v-if="option.others && option.others.config.length">
        <h3>
          <i class="el-icon-setting" />
          {{ option.others.title }}
        </h3>
        <template v-for="(item, idx) in option.others.config">
          <form-item :key="'others-'+idx" :item="item" :index="idx" />
        </template>
      </template>

      <template v-if="option.action">
        <h3>
          <i class="el-icon-setting" />
          {{ option.action.title }}
        </h3>

        <template v-if="option.action.type === 'image-click'">
          <image-click
            :show.sync="imageClickShow"
            :img="option.style[1].val"
            :clicks="option.action.config"
          />
          <el-button
            icon="el-icon-plus"
            :disabled="!option.style[1].val"
            round
            @click="imageClickShow = true"
          >点击区域配置</el-button>
        </template>

        <template v-if="option.action.type === 'swiper-click'">
          <banner-item :banners="option.action.config" />
        </template>

        <template v-if="option.action.type === 'bottom-menu-click'">
          <bottom-menu-item :items="option.action.config" />
        </template>

        <template v-if="option.action.type === 'floor-menu-click'">
          <floor-menu-item :menus="option.action.config" />
        </template>

        <template v-if="option.action.type === 'left-scroll-click'">
          <scroll-item :scrolls="option.action.config" />
        </template>

        <template v-if="option.action.type === 'horizontal-item-click'">
          <horizontal-item :items="option.action.config" />
        </template>

        <template v-if="option.action.type === 'vertical-item-click'">
          <vertical-item :items="option.action.config" />
        </template>

        <template v-if="option.action.type === 'form-submit'">
          <input-item :forms="option.action.config" />
        </template>

        <template v-if="option.action.type === 'timeout-click'">
          <timeout-item
            :show.sync="timeoutClickShow"
            :end="option.style[0].val"
            :img="option.style[1].val"
            :times="option.action.config"
          />
          <el-button
            icon="el-icon-plus"
            :disabled="!option.style[1].val"
            round
            @click="timeoutClickShow = true"
          >时间项配置</el-button>
        </template>

        <template v-if="option.action.type === 'grid-menu-click'">
          <grid-menu-item :grids="option.action.config" />
        </template>

        <template v-if="option.action.type === 'marquee-click'">
          <marquee-item :marquees="option.action.config" />
        </template>

        <template v-if="option.action.type === 'page-paragraph-list'">
          <page-paragraph-item :paragraphs="option.action.config" />
        </template>

        <template v-if="option.action.type === 'page-faq-list'">
          <page-faq-item :paragraphs="option.action.config" />
        </template>
      </template>
    </el-form>
  </div>
</template>

<script>
import formItem from '@/common/formItem.vue'
import imageClick from '../itemOption/imageClick.vue'
import timeoutItem from '../itemOption/timeoutItem.vue'
import bannerItem from '../itemOption/bannerItem.vue'
import bottomMenuItem from '../itemOption/bottomMenuItem.vue'
import floorMenuItem from '../itemOption/floorMenuItem.vue'
import horizontalItem from '../itemOption/horizontalItem.vue'
import verticalItem from '../itemOption/verticalItem.vue'
import scrollItem from '../itemOption/scrollItem.vue'
import inputItem from '../itemOption/inputItem.vue'
import gridMenuItem from '../itemOption/gridMenuItem.vue'
import marqueeItem from '../itemOption/marqueeItem.vue'
import pageParagraphItem from '../itemOption/pageParagraphItem.vue'
import pageFaqItem from '../itemOption/pageFaqItem.vue'

export default {
  name: 'AppOption',
  components: {
    formItem,
    imageClick,
    timeoutItem,
    bannerItem,
    bottomMenuItem,
    floorMenuItem,
    scrollItem,
    horizontalItem,
    verticalItem,
    inputItem,
    gridMenuItem,
    marqueeItem,
    pageParagraphItem,
    pageFaqItem
  },
  props: {
    option: {
      type: Object
    }
  },
  data() {
    return {
      imageClickShow: false,
      timeoutClickShow: false
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
.app-option {
  width: 360px;
  padding: 0 10px 0 5px;
  overflow: auto;
  border-left: 1px solid #e8e8e8;

  h2 {
    margin: 13px 0;
    font-size: 14px;
  }

  .el-form {
    padding-bottom: 30px;

    > h3 {
      background-color: #f2f3f4;
      padding: 5px 10px;
      font-size: 14px;
    }

    .el-form-item.small {
      margin-bottom: 5px;

      .font-set {
        display: inline-block;
        width: 28px;
        height: 28px;
        text-align: center;
        cursor: pointer;
        &.checked {
          color: #fff;
          background-color: #333;
        }
      }

      .el-date-editor.el-input {
        width: 186px;
        .el-input__inner {
          padding-left: 30px !important;
        }
      }

      .el-input__inner {
        padding: 0 10px;
      }

      .el-textarea__inner {
        padding: 5px 10px;
      }

      .el-form-item__label {
        padding-right: 0;
        font-size: 13px;
      }
    }

    .form-list-panel {
      margin-top: 15px;
      border: 1px solid #e8e8e8;
      padding: 10px 10px 5px 5px;

      &:first-child {
        margin-top: 0;
      }

      .list-item-opt {
        text-align: right;

        > a {
          margin-left: 10px;
          color: #2aa7ff;
          font-size: 12px;
        }
      }
    }
  }
}
</style>
