<template>
  <div>
    <el-form-item v-if="item.type === 'text'" class="small" :label="item.label + '：'">
      <el-input
        v-model="item.val"
        :maxlength="item.maxLength || 128"
        :placeholder="item.placeholder ? item.placeholder : item.isNecessary ? '必填' : '非必填'"
        @blur="item.rules ? inputBlur(item.rules, item) : null"
      />
    </el-form-item>

    <el-form-item v-if="item.type === 'color-picker'" class="small" :label="item.label + '：'">
      <el-color-picker v-model="item.val" />
    </el-form-item>

    <el-form-item v-if="item.type === 'font-align'" class="small" :label="item.label + '：'">
      <div
        :class="['font-set', item.val[0] === 'left' ? 'checked' : '']"
        @click="setAlign(item, 'left')"
      >
        <i class="fa fa-align-left" />
      </div>
      <div
        :class="['font-set', item.val[0] === 'center' ? 'checked' : '']"
        @click="setAlign(item, 'center')"
      >
        <i class="fa fa-align-center" />
      </div>
      <div
        :class="['font-set', item.val[0] === 'right' ? 'checked' : '']"
        @click="setAlign(item, 'right')"
      >
        <i class="fa fa-align-right" />
      </div>
    </el-form-item>

    <el-form-item v-if="item.type === 'font'" class="small" :label="item.label + '：'">
      <div
        :class="['font-set', item.val[0] === '600' ? 'checked' : '']"
        @click="setFont(item, item.attr[0])"
      >
        <i class="fa fa-bold" />
      </div>
      <div
        :class="['font-set', item.val[1] === 'underline' ? 'checked' : '']"
        @click="setFont(item, item.attr[1])"
      >
        <i class="fa fa-underline" />
      </div>
      <div
        :class="['font-set', item.val[2] === 'italic' ? 'checked' : '']"
        @click="setFont(item, item.attr[2])"
      >
        <i class="fa fa-italic" />
      </div>
      <div
        :class="['font-set', item.val[3] === 'left' ? 'checked' : '']"
        @click="setAlign(item, 'left')"
      >
        <i class="fa fa-align-left" />
      </div>
      <div
        :class="['font-set', item.val[3] === 'center' ? 'checked' : '']"
        @click="setAlign(item, 'center')"
      >
        <i class="fa fa-align-center" />
      </div>
      <div
        :class="['font-set', item.val[3] === 'right' ? 'checked' : '']"
        @click="setAlign(item, 'right')"
      >
        <i class="fa fa-align-right" />
      </div>
    </el-form-item>

    <el-form-item v-if="item.type === 'textarea'" class="small" :label="item.label + '：'">
      <el-input v-model="item.val" type="textarea" :rows="4" :placeholder="item.placeholder" />
    </el-form-item>

    <el-form-item v-if="item.type === 'input-number'" class="small" :label="item.label + '：'">
      <el-input-number v-model="item.val" :min="item.min" :max="item.max" :step="item.step" />
    </el-form-item>

    <el-form-item
      v-if="item.type === 'slider-padding-left-and-right'"
      class="small"
      :label="item.label + '：'"
    >
      <el-slider v-model="item.val" :min="item.min" :max="item.max" :step="item.step" />
    </el-form-item>

    <el-form-item v-if="item.type === 'select'" class="small" :label="item.label + '：'">
      <el-select v-model="item.val" placeholder="默认选项">
        <el-option v-for="opt in item.options" :key="'select'+opt.val" :label="opt.name" :value="opt.val" />
      </el-select>
    </el-form-item>

    <el-form-item v-if="item.type === 'radio'" class="small" :label="item.label + '：'">
      <template v-for="(opt, idx) in item.options">
        <el-radio :key="'radio'+idx" v-model="item.val" :label="opt.val">{{ opt.name }}</el-radio>
      </template>
    </el-form-item>

    <el-form-item v-if="item.type === 'datetime'" class="small" :label="item.label + '：'">
      <el-date-picker
        v-model="item.val"
        type="datetime"
        value-format="yyyy-MM-dd HH:mm:ss"
        placeholder="选择日期"
      />
    </el-form-item>

    <upload
      v-if="item.type === 'upload'"
      :id="index"
      :label="item.label"
      :item="item"
      @uploadSuccess="uploadSuccess"
    />

    <el-form-item v-if="item.type == 'desc'" class="small" :label="item.label + '：'">
      <span class="form-item-desc" v-html="item.val" />
    </el-form-item>
  </div>
</template>

<script>
import upload from '@/common/upload.vue'
export default {
  components: {
    upload
  },
  props: {
    item: {
      type: Object
    },
    index: {
      type: Number
    }
  },
  methods: {
    setFont(item, attr) {
      if (attr === 'font-weight') {
        this.$set(item.val, 0, item.val[0] === '600' ? '400' : '600')
      }
      if (attr === 'text-decoration') {
        this.$set(
          item.val,
          1,
          item.val[1] === 'underline' ? 'none' : 'underline'
        )
      }
      if (attr === 'font-style') {
        this.$set(item.val, 2, item.val[2] === 'italic' ? 'inherit' : 'italic')
      }
    },
    setAlign(item, align) {
      this.$set(item.val, 3, align)
    },
    inputBlur(rule, item) {
      const reg = new RegExp(rule.regex)
      if (!item.val.match(reg)) {
        this.$alert(rule.tips, '提示')
        item.val = ''
        return false
      }
    },
    uploadSuccess(item, img) {
      console.log('uploadSuccess', item)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
span.form-item-desc {
  font-size: 12px;
  color: #666;
  line-height: 1.2;
}
</style>
