<template>
  <div class="el-form-item small el-form-item--mini">
    <div class="card-item">
      <div v-if="item.val" class="item-image">
        <img :src="item.val">
      </div>
      <div v-else class="item-image" @click="showDialog">
        <div style="margin-top:30px;">
          <label>选择图片</label>
        </div>
      </div>
      <div class="attr-group">
        <div class="attr-item">
          <label class="attr-item-label">标题:</label>
          <input class="attr-item-input" :value="item.text">
        </div>
        <div class="attr-item">
          <label class="attr-item-label">链接:</label>
          <input class="attr-item-input" :value="item.link">
        </div>
      </div>
    </div>

    <el-dialog
      id="netImgDialog"
      title="我的图片"
      :close-on-click-modal="false"
      :append-to-body="true"
      :visible="dialogShow"
      width="680px"
      @close="dialogShow=false"
    >

      <!-- 查询结果 -->
      <el-table
        v-loading="listLoading"
        :data="list"
        element-loading-text="正在查询中。。。"
        border
        fit
        highlight-current-row
      >
        <el-table-column align="center" property="url" label="图片">
          <template slot-scope="scope">
            <img :src="scope.row.url" width="50">
          </template>
        </el-table-column>
        <el-table-column
          align="center"
          label="操作"
          width="200"
          class-name="small-padding fixed-width"
        >
          <template slot-scope="scope">
            <el-button
              v-permission="['POST /admin/storage/update']"
              type="primary"
              size="mini"
              @click="handleChoose(scope.row)"
            >选择</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogShow = false">取 消</el-button>
        <el-button type="primary" @click="setImgUrl">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listStorage } from '@/api/storage'

export default {
  name: 'Upload',
  props: {
    label: {
      type: String
    },
    index: {
      type: Number,
      default: 0
    },
    item: {
      type: Object
    }
  },
  data() {
    return {
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        key: undefined,
        name: undefined,
        sort: 'add_time',
        order: 'desc'
      },
      dataForm: {
        title: '',
        link: ''
      },
      currentTab: 'outside',
      imgUrl: '',
      dialogShow: false,
      tableData: []
    }
  },
  methods: {
    showDialog() {
      this.dialogShow = true
      this.getList()
    },
    getList() {
      this.listLoading = true
      listStorage(this.listQuery)
        .then(response => {
          this.list = response.data.data.list
          this.total = response.data.data.total
          this.listLoading = false
        })
        .catch(() => {
          this.list = []
          this.total = 0
          this.listLoading = false
        })
    },
    handleChoose(e) {
      this.item.val = e.url
      this.dialogShow = false
    },
    upload(e) {
      const file = e.target.files[0]
      if (file) {
        if (
          ['image/gif', 'image/png', 'image/jpg', 'image/jpeg'].indexOf(
            file.type
          ) > -1
        ) {
          // 获取图片宽高
          const reader = new FileReader()
          reader.onloadend = () => {
            const img = new Image()
            img.onload = () => {
              let invalide = true
              if (this.item.hasOwnProperty('limit')) {
                if (img.width !== this.item.limit.w) {
                  invalide = false
                  this.$alert(
                    '图片宽度必须为 ' + this.item.limit.w + 'px',
                    '提示'
                  )
                }
                if (img.height !== this.item.limit.h) {
                  invalide = false
                  this.$alert(
                    '图片高度必须为 ' + this.item.limit.h + 'px',
                    '提示'
                  )
                }
                if (file.size / 1024 > this.item.limit.s) {
                  invalide = false
                  this.$alert(
                    '图片大小不能超过 ' + this.item.limit.s + 'k',
                    '提示'
                  )
                }
              } else {
                if (img.width > 750) {
                  invalide = false
                  this.$alert('图片宽度不能超过750px', '提示')
                }
                if (file.type === 'image/gif') {
                  if (file.size / 1024 > 2048) {
                    invalide = false
                    this.$alert('gif图片不能超过2048k', '提示')
                  }
                } else {
                  if (file.size / 1024 > 512) {
                    invalide = false
                    this.$alert('jpeg、png图片不能超过512k', '提示')
                  }
                }
              }

              if (invalide) {
                const width = 750
                const height = img.height * (750 / img.width).toFixed(4)
                this.item.width = width
                this.item.height = height
                this.item.val = img.src
                this.$emit('uploadSuccess', this.item, img, this.index)
              }
            }
            img.src = reader.result
            this.$emit('beforeUpload', file, this.item, img, this.index)
          }
          reader.onerror = err => {
            console.log('reader error', err)
          }
          // 读出文件路径
          reader.readAsDataURL(file)
        } else {
          this.$alert('图片格式须为jpg、jpeg、png、gif之一！', '提示')
        }
      }
    },
    setImgUrl() {
      try {
        const img = new Image()
        img.onload = () => {
          let invalide = true
          if (this.item.hasOwnProperty('limit')) {
            if (img.naturalWidth !== this.item.limit.w) {
              invalide = false
              this.$alert('图片宽度必须为 ' + this.item.limit.w + 'px', '提示')
            }
            if (img.naturalHeight !== this.item.limit.h) {
              invalide = false
              this.$alert('图片高度必须为 ' + this.item.limit.h + 'px', '提示')
            }
          } else {
            if (img.naturalWidth > 750) {
              invalide = false
              this.$alert('图片宽度不能超过750px', '提示')
            }
          }
          if (invalide) {
            const width = 750
            const height =
              img.naturalHeight * (750 / img.naturalWidth).toFixed(4)
            this.item.width = width
            this.item.height = height
            this.item.val = img.src
            this.dialogShow = false
            this.$emit('uploadSuccess', this.item, img, this.index)
          }
        }
        img.src = this.imgUrl
      } catch (e) {
        console.warn(e)
      }
    },
    delImg(item) {
      item.val = ''
    },
    clickTab(tab) {
      this.currentTab = tab.name
    }
  }
}
</script>

<style lang="scss">
#netImgDialog {
  .el-dialog__body {
    padding-top: 10px;
  }
}

.upload-container {
  display: flex;

  .upload-tips {
    display: block;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px;
    color: #666;

    h3 {
      margin: 0;
    }
  }
}

.card-item {
  position: relative;
  background-color: #fff;
  height: 110px;
  margin: 15px 0;
  padding: 15px 0;
  border: 1px dashed #e5e5e5;

  .item-image {
    border: 1px solid gainsboro;
    float: left;
    text-align: center;
    width: 80px;
    height: 80px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .attr-group {
    display: block;
    margin-left: 92px;

    .attr-item {
      margin: 10px 0;
      color: #606266;

      .attr-item-label {
        font-size: 14px;
        flex-shrink: 0;
        text-align: right;
        margin-right: 10px;
      }

      .attr-item-input {
        width: 150px;
      }
    }
  }
}

.el-upload-dragger {
  width: 100% !important;
  height: 100% !important;
  min-width: 150px;

  .el-icon-upload {
    margin-top: 20px;
  }
}

.image-preview {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ecf5ff;

  .fa-window-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #666;
    font-size: 22px;
    z-index: 99;
  }
}

.upload-input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 150px;
  height: 115px;
  cursor: pointer;
}
</style>
