<template>
  <div>
    <template v-if="slides && slides.length">
      <div v-for="(slide, idx) in slides" :key="idx" class="form-list-panel">
        <pickImg
          :label="'轮播图' + (idx + 1)"
          :index="idx"
          :item="slide"
          @uploadSuccess="uploadSuccess"
        />
        <template v-if="slide.click">
          <el-form-item class="small" label="跳转到：">
            <span style="word-break: break-all;">{{ slide.click.href }}</span>
          </el-form-item>
        </template>
        <div class="list-item-opt">
          <a v-if="idx !== 0" href="javascript:;" @click="upBanner(idx)">
            <i class="el-icon-arrow-up" />
          </a>
          <a v-if="idx !== slides.length - 1" href="javascript:;" @click="downBanner(idx)">
            <i class="el-icon-arrow-down" />
          </a>
          <a v-if="idx > 0" href="javascript:;" @click="delBanner(idx)">
            <i class="el-icon-delete" />
          </a>
        </div>
      </div>
    </template>
    <el-button icon="el-icon-plus" style="margin-top:15px;" round @click="addBanner">添加图片项</el-button>
  </div>
</template>

<script>
import util from '@/utils/util.js'
import compConfig from '@/config/comp.config.js'
import pickImg from '@/common/pickImg.vue'

export default {
  components: {
    pickImg
  },
  props: {
    banners: {
      type: Array
    }
  },
  data() {
    return {
      defaultConf: util.copyObj(compConfig['swiper-banner']),
      slides: this.banners
    }
  },
  watch: {
    banners: {
      handler(val) {
        this.slides = val
      },
      deep: true
    }
  },
  methods: {
    upBanner(idx) {
      const tmp = util.copyObj(this.slides[idx])
      this.slides.splice(idx, 1)
      this.slides.splice(idx - 1, 0, tmp)
    },
    downBanner(idx) {
      const tmp = util.copyObj(this.slides[idx])
      this.slides.splice(idx, 1)
      this.slides.splice(idx + 1, 0, tmp)
    },
    delBanner(idx) {
      this.slides.splice(idx, 1)
    },
    addBanner() {
      if (this.slides.length < 10) {
        this.slides.push(util.copyObj(this.defaultConf.action.config[0]))
      } else {
        this.$alert('最多添加10个图片项！')
      }
    },
    uploadSuccess(item, img, idx) {
      console.log('uploadSuccess', item)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
</style>
