<template>
  <div>
    <template v-if="items && items.length">
      <div v-for="(item, idx) in items" :key="idx" class="form-list-panel">
        <pickImg :label="'图片' + (idx + 1)" :index="idx" :item="item" />

        <div class="list-item-opt">
          <a v-if="idx !== 0" href="javascript:;" @click="upItem(idx)">
            <i class="el-icon-arrow-up" />
          </a>
          <a v-if="idx !== items.length - 1" href="javascript:;" @click="downItem(idx)">
            <i class="el-icon-arrow-down" />
          </a>
          <a v-if="idx > 0" href="javascript:;" @click="delItem(idx)">
            <i class="el-icon-delete" />
          </a>
        </div>
      </div>
    </template>
    <el-button icon="el-icon-plus" style="margin-top:15px;" round @click="addItem">添加点击项</el-button>
  </div>
</template>

<script>
import util from '@/utils/util.js'
import compConfig from '@/config/comp.config.js'
import pickImg from '@/common/pickImg.vue'
export default {
  components: {
    pickImg
  },
  props: {
    grids: {
      type: Array
    }
  },
  data() {
    return {
      defaultConf: util.copyObj(compConfig['grid-menu']),
      items: this.grids
    }
  },
  watch: {
    grids: {
      handler(val) {
        this.items = val
      },
      deep: true
    }
  },
  methods: {
    showClick(banner, idx) {
      this.$bus.$emit('click:show', idx, ['outside'])
    },
    upItem(idx) {
      const tmp = util.copyObj(this.items[idx])
      this.items.splice(idx, 1)
      this.items.splice(idx - 1, 0, tmp)
    },
    downItem(idx) {
      const tmp = util.copyObj(this.items[idx])
      this.items.splice(idx, 1)
      this.items.splice(idx + 1, 0, tmp)
    },
    delItem(idx) {
      this.items.splice(idx, 1)
    },
    addItem() {
      if (this.items.length < 5) {
        this.items.push(util.copyObj(this.defaultConf.action.config[0]))
      } else {
        this.$alert('最多添加5个点击项！')
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
</style>
